.about-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: calc(100vh -100px)
}


.about_div{
    margin: 50px 105px 0 105px;
    padding: 0 50px;
    min-height: auto;
    box-sizing: border-box;
    
}

@media (max-width:767.98px){
    .about_div{
        margin: 0;
        padding: 0 15px;
        min-height: auto;
    }
}
   