.banner{
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    margin-bottom: 35px;
    height: 223px;
    
}

.banner img{
    width: 100%;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
}

.text-over {
    width: 100%;
    height: 223px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius:25px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px; 
    background: rgba(0, 0, 0, 0.25);/* Fond semi-transparent */
}

h1{
   padding-top: 55px;
   font-size: 48px;
}

@media (max-width: 767.98px) {
    .banner{
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
        height: 110px;
    }

    .banner img{
        height: 110px;
        border-radius: 10px;

    }

    .text-over { 
        height: 110px;
        text-align: left;
        border-radius: 10px;
    }

    h1{
        width: 236px;
        padding: 10px 0 0 10px;
        font-size: 24px;
    }
}